<p-toast></p-toast>
<div [formGroup]="checkoutForm">
    <h2>Summary</h2>
    <div style="margin: 0em;">
        <div style="flex-direction:column;">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText formControlName="address">
                <label for="float-input">Address</label>
            </span>
            <span class="p-float-label">
                <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="comment"></textarea>
                <label for="float-input">Comment</label>
            </span>
        </div>
        <p-dropdown class="p-float-label input-field-margin" [options]="paymentMethods" formControlName="paymentMethod"
            placeholder="Select a Payment Method" optionLabel="label"></p-dropdown>

    </div>
    <h3>Total: {{total}}</h3>
    <div *ngIf="checkoutForm.value.paymentMethod.value == 'paypal'">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <button *ngIf="checkoutForm.value.paymentMethod.value == 'caseondelivery'" pButton type="button" label="Checkout"
        [loading]="isSending" (click)="checkout()"></button>
</div>